extends layout

block content

  h1 Editorial: #{editorial.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each book in editorial_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This editorial has no books

    form(method='POST' action=editorial.url+'/delete')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=editorial._id )

      button.btn.btn-danger(type='submit') Delete
    

    form(method='POST' action=editorial.url+'/update')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=editorial._id )

      button.btn.btn-primary(type='submit') Update
